form > div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  justify-content: space-around;
}

form label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

form input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 100;
  min-width: 10rem;
  max-width: 30rem;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.75);
}

form .form-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

form .form-actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}
