/*import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');*/

* {
  box-sizing: border-box;
}

html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  margin: 0;  
  background-color:#111b24;
  color: white;
  text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.85);
}

.center-div {
  text-align: center;
}
